management:
  endpoints:
    web:
      base-path: /management
      exposure:
        include: ['configprops', 'env', 'health', 'info', 'logfile', 'loggers', 'prometheus', 'threaddump']
  endpoint:
    health:
      show-details: when_authorized
      roles: 'ROLE_ADMIN'
  info:
    git:
      mode: full
  health:
    mail:
      enabled: false # When using the MailService, configure an SMTP server and set this to true
  metrics:
    export:
      # Prometheus is the default metrics backend
      prometheus:
        enabled: true
        step: 60
    enable:
      http: true
      jvm: true
      logback: true
      process: true
      system: true
    distribution:
      percentiles-histogram:
        all: true
      percentiles:
        all: 0, 0.5, 0.75, 0.95, 0.99, 1.0
    tags:
      application: ${spring.application.name}

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/biwise?useUnicode=yes&characterEncoding=UTF-8
    username: root
    password: kapana
  mail:
    host: smtp.gmail.com
    port: 587
    username: biwise.confirmation
    password: Kapanadze1
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          starttls:
            enable: true
  autoconfigure:
    exclude: {org.springframework.boot.autoconfigure.data.elasticsearch.ElasticsearchAutoConfiguration,org.springframework.boot.autoconfigure.data.elasticsearch.ElasticsearchDataAutoConfiguration}
  application:
    name: Audit
  jmx:
    enabled: false
  data:
    jpa:
      repositories:
        bootstrap-mode: deferred
  jpa:
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: UTC
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    show-sql: true

  messages:
    basename: i18n/messages
  main:
    allow-bean-definition-overriding: true

  task:
    execution:
      thread-name-prefix: Bewise-task-
      pool:
        core-size: 2
        max-size: 50
        queue-capacity: 10000
    scheduling:
      thread-name-prefix: Bewise-scheduling-
      pool:
        size: 2
  thymeleaf:
    mode: HTML

server:
  servlet:
    session:
      cookie:
        http-only: true
audit:
  clientApp:
    name: 'Audit App'
  mail:
    from: lashakapanadze50@gmail.com
  swagger:
    default-include-pattern: /api/.*
    title: Audit API
    description: Audit API documentation
    version: 0.0.1
    terms-of-service-url:
    contact-name:
    contact-url:
    contact-email:
    license:
    license-url:
logging:
  level: [debug, info, error, fatal, trace, warn, off]
tokenSecret: Bearer
invitedUserPassword: hL4bz0CPEJ
projectRoles: qualityControlPartner,dealPartner,partner,manager,supervisor,assistant,auditOtherPartner,projectResponsible,otherReviewer,specialist,limitedUser
